/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.navigation ul { 
  list-style-type: none;
  display: inline;
}

div.navigation li {
  display: inline;
  padding: 1em;
  font-size: 14pt;
}

div.app_list ul { 
  list-style-type: none;
  display: inline;
}

div.app_list li {
  display: inline;
  padding: 0.2em;
  font-size: 10pt;
  color: #3333CC;
}

table {
  width: 100%;
}

table.kategorien, table.kategorien th, table.kategorien td {
    border: 2px solid #CC3333;
    border-collapse: collapse;
}
table.kategorien th {
  background-color: #CC3333;
}

table.sets, table.sets th, table.sets td {
    border: 2px solid #33CC33;
    border-collapse: collapse;
}

table.apps th {
  background-color: #33CC33;
}

table.apps, table.sets th, table.sets td {
    border: 2px solid #3333CC;
    border-collapse: collapse;
}

table.apps th {
  background-color: #3333CC;
}
